.gradle
.idea
build

buildSrc/.gradle
buildSrc/build

api/.gradle
api/build
libs/compile/bLibs-2.0.0-WIP.jar
libs/compile/bSpecializedCrates-1.2.1.jar

paper/run

!paper/run/config/paper-global.yml
!paper/run/config/paper-world-defaults.yml
!paper/run/bukkit.yml
!paper/run/eula.txt
!paper/run/server.properties
!paper/run/spigot.yml

jars